<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <form action="/login" method="post">
        <div>
            用户名:<input name="nickname" type="text">
        </div>
        <div>
            密码:<input name="password" type="password">
        </div>
        <div>
            头像:<input name="avatar" type="text">
        </div>
        <div>
            <input type="submit" name="submit" value="登录" >
        </div>
    </form>
</body>
</html>